#noticeLeft {
  width: 100%;
  max-width: 230px;
}
#noticeLeft .container {
  width: 100%;
  max-width: 230px;
  height: 884px;
  background: #fff;
  padding: 15px 0 0 0;
}
#noticeLeft .container .gap {
  width: 100%;
}
#noticeLeft .container .gap .title {
  width: 100%;
}
#noticeLeft .container .gap .title ul li {
  margin: 25px 0;
}
#noticeLeft .container .gap .title ul li h1 {
  font-size: 35px;
  font-weight: 500;
  color: #242424;
  line-height: 40px;
}
#noticeLeft .container .gap .title ul li h2 {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 0 2px;
  color: #999;
  letter-spacing: 1px;
}
#noticeLeft .container .gap .line {
  margin: 0 0 30px;
  width: 30px;
  height: 1px;
  background: #333;
}
#noticeLeft .container .gap .left-menu {
  width: 100%;
  margin: 0 0 30px 0;
}
#noticeLeft .container .gap .left-menu > ul {
  width: 100%;
}
#noticeLeft .container .gap .left-menu > ul > li {
  width: 100%;
}
#noticeLeft .container .gap .left-menu > ul > li .first-menu {
  width: 100%;
  margin: 0 0 20px 0;
}
#noticeLeft .container .gap .left-menu > ul > li .first-menu dt {
  font-size: 15px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #333;
  padding: 0;
}
#noticeLeft .container .gap .left-menu > ul > li .first-menu dd {
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 12px;
  text-align: left;
  color: #767676;
}
#noticeLeft .container .gap .left-menu > ul > li .first-menu dd:hover {
  color: #333;
  background-color: rgb(245, 245, 245);
}
#noticeLeft .container .gap .left-menu > ul > li .second-menu {
  width: 100%;
  margin: 0 0 20px 0;
}
#noticeLeft .container .gap .left-menu > ul > li .second-menu dt {
  font-size: 15px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #333;
  padding: 0;
}
#noticeLeft .container .gap .left-menu > ul > li .second-menu dd {
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  padding-left: 12px;
  text-align: left;
  color: #767676;
}
#noticeLeft .container .gap .left-menu > ul > li .second-menu dd:hover {
  color: #333;
  background-color: rgb(245, 245, 245);
}
#noticeLeft .container .gap .left-menu .bottom {
  width: 100%;
  position: relative;
}
#noticeLeft .container .gap .left-menu .bottom ul {
  width: 100%;
}
#noticeLeft .container .gap .left-menu .bottom ul li {
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  line-height: 45px;
  text-align: left;
  color: #333;
}
#noticeLeft .container .gap .left-menu .bottom ul li::after {
  content: "";
  opacity: 0;
  position: absolute;
  top: 17px;
  right: 25px;
  width: 5px;
  height: 9px;
  background: url(https://image.thehyundai.com/hdmall/images/co/ic_arrow.png) no-repeat 0 -400px;
}
#noticeLeft .container .gap .left-menu .bottom ul li:hover, #noticeLeft .container .gap .left-menu .bottom ul li.on {
  color: #39594e;
}
#noticeLeft .container .gap .left-menu .bottom ul li:hover:nth-child(1)::after, #noticeLeft .container .gap .left-menu .bottom ul li.on:nth-child(1)::after {
  opacity: 1;
}
#noticeLeft .container .gap .left-menu .bottom ul li:hover:nth-child(2)::after, #noticeLeft .container .gap .left-menu .bottom ul li.on:nth-child(2)::after {
  opacity: 1;
  top: 55px;
}
#noticeLeft .container .gap .left-menu .bottom ul li:hover:nth-child(3)::after, #noticeLeft .container .gap .left-menu .bottom ul li.on:nth-child(3)::after {
  opacity: 1;
  top: 105px;
}
#noticeLeft .container .gap .left-menu .bottom ul li:hover:nth-child(4)::after, #noticeLeft .container .gap .left-menu .bottom ul li.on:nth-child(4)::after {
  opacity: 1;
  top: 150px;
}
#noticeLeft .container .gap .left-menu .bottom ul li:hover:nth-child(5)::after, #noticeLeft .container .gap .left-menu .bottom ul li.on:nth-child(5)::after {
  opacity: 1;
  top: 195px;
}
#noticeLeft .container .gap .bottom1 {
  cursor: pointer;
  display: flex;
  border: 1px solid transparent;
  width: 150px;
  height: 78px;
  background: #e7eee9;
  margin: 0 0 15px 0;
}
#noticeLeft .container .gap .bottom1 img {
  width: 42px;
  height: 50px;
  transform: translate(20px, 10px);
}
#noticeLeft .container .gap .bottom1 h1 {
  font-size: 17px;
  font-weight: 400;
  line-height: 24.225px;
  padding: 25px 0 20px 35px;
  color: #5f706a;
}
#noticeLeft .container .gap .bottom2 {
  border: 1px solid #eee;
  width: 150px;
  height: 100px;
}
#noticeLeft .container .gap .bottom2 ul li:nth-child(1) {
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  padding: 15px 0 0 18px;
  line-height: 22.8px;
}
#noticeLeft .container .gap .bottom2 ul li:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: #d95756;
  padding: 0 0 3px 18px;
  line-height: 25px;
}
#noticeLeft .container .gap .bottom2 ul li:nth-child(3) {
  font-size: 13px;
  font-weight: 400;
  color: #555;
  padding: 0 0 15px 18px;
  line-height: 18px;
}