#section1 {
  width: 100%;
}
#section1 .container {
  width: 100%;
}
#section1 .container .gap {
  width: 100%;
}
#section1 .container .gap .content {
  width: 100%;
}
#section1 .container .gap .content .slide-container {
  width: 100%;
  overflow: hidden;
  position: relative;
}
#section1 .container .gap .content .slide-container .slide-view {
  position: relative;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap {
  position: relative;
  width: 2000%;
  margin-left: -100%;
  height: 650.08px;
  display: flex;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide {
  width: 100%;
  position: relative;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide.animate .slide-text {
  opacity: 1;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide.animate .slide-text span {
  animation: textAni 0.5s 0.2s ease-in-out normal both;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide.animate .slide-text p {
  animation: textAni 0.5s 0.4s ease-in-out normal both;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .slide-text {
  opacity: 0;
  position: absolute;
  left: calc(50% - 640px);
  top: 60px;
  line-height: 1.2;
  color: #fff;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .slide-text span {
  font-size: 30px;
  display: block;
}
#section1 .container .gap .content .slide-container .slide-view .slide-wrap .slide .slide-text p {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 300;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box button {
  width: 22px;
  height: 26px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../img/intro/new2023_icons.png);
  cursor: pointer;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .prev-btn {
  background-position: 6px 6px;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .page-nation-box {
  display: inline-block;
  padding: 0 8px;
  margin-top: -1px;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .page-nation-box span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 1.425;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .page-nation-box .now-slide {
  color: #fff;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .page-nation-box i {
  padding: 0 5px;
  font-size: 14px;
  color: #999;
  font-weight: 300;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .page-nation-box .total-slide {
  color: #999;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .next-btn {
  background-position: -94px 6px;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .control-btn {
  margin-left: 10px;
  background-position: -194px 6px;
}
#section1 .container .gap .content .slide-container .slide-view .control-wrap .slide-control-box .control-btn.on {
  background-position: -294px 6px;
}

@keyframes textAni {
  0% {
    opacity: 0;
    transform: translate(0, 30px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}