#Sub1Component {
  padding: 160px 0 500px 0;
  width: 100%;
}
#Sub1Component .container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
#Sub1Component .container .top {
  width: 100%;
}
#Sub1Component .container .top .title {
  border-top: 1px solid #999;
}
#Sub1Component .container .top .title .top-title {
  text-align: left;
  height: 40px;
}
#Sub1Component .container .top .title .top-title > ul {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: left;
}
#Sub1Component .container .top .title .top-title > ul > li {
  width: 50px;
  padding: 20px 0 0 0;
}
#Sub1Component .container .top .title .top-title > ul > li h1 {
  font-size: 11px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(102, 102, 102);
  cursor: pointer;
}
#Sub1Component .container .top .title .top-title > ul > li h1:hover {
  color: #46675c;
  font-weight: 700;
}
#Sub1Component .container .top .title .top-title > ul > li > img {
  width: 3px;
  margin: 0 0 0 -50px;
}
#Sub1Component .container .top .title .top-title > ul > li h2 {
  position: relative;
  margin: 0 0 0 -70px;
  font-size: 11px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(102, 102, 102);
  cursor: pointer;
}
#Sub1Component .container .top .title .top-title > ul > li h2:hover {
  color: #46675c;
  font-weight: 700;
}
#Sub1Component .container .top .title .top-title > ul > li h2:hover .top-title-text-box {
  display: block;
}
#Sub1Component .container .top .title .top-title > ul > li h2 .top-title-text-box {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 35px;
  width: 110px;
  height: 196px;
  border: 1px solid #333;
  background: #fff;
}
#Sub1Component .container .top .title .top-title > ul > li h2 .top-title-text-box ul {
  display: block;
  padding: 8px 18px;
}
#Sub1Component .container .top .title .top-title > ul > li h2 .top-title-text-box ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#Sub1Component .container .top .title .top-title > ul > li h2 .top-title-text-box ul li:hover {
  text-decoration: underline;
}
#Sub1Component .container .top .title .top-title > ul > li h2 .top-title-text-box ul li h5 {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: #666;
}
#Sub1Component .container .top .title .top-title > ul > li h2 .top-title-text-box ul li h5:hover {
  color: #46675c;
}
#Sub1Component .container .top .title .top-title > ul > li h2 .top-title-text-box ul li img {
  display: flex;
  width: 5px;
  height: 9px;
}
#Sub1Component .container .top .title .top-title > ul > li a img {
  margin: 0 0 5px -110px;
  width: 6px;
}
#Sub1Component .container .top .title .bottom-title {
  padding: 50px 0 15px 0;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#Sub1Component .container .top .title .bottom-title h2 {
  color: #333;
  font-size: 27px;
  font-weight: 400;
  line-height: 38.475px;
}
#Sub1Component .container .middle1 {
  width: 100%;
  display: flex;
  margin: 0 0 30px 0;
}
#Sub1Component .container .middle1 .middle1-left-box {
  width: 228px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-top {
  width: 100%;
  height: 104px;
  border-top: 1px solid #333;
  border-bottom: 1px dotted #8d8d8d;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-top h1 {
  font-size: 23px;
  font-weight: 400;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom {
  width: 100%;
  height: 295px;
  border-bottom: 1px solid #eee;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul {
  padding: 15px 0 20px 0;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li {
  padding: 0 0 0 30px;
  margin: 5px 0 0 0;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  height: 25px;
  text-align: left;
  color: #666;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover {
  color: #fff;
  display: flex;
  background-color: #333;
  text-decoration: underline;
  transition: all 0.1s;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom1 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom2 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom3 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom4 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom5 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom6 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom7 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5:hover .left-box-bottom8 {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom1 {
  display: none;
  position: absolute;
  z-index: 2;
  top: -21px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom1 > ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom1 > ul > li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom1 > ul > li > a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom1 > ul > li > a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom2 {
  display: none;
  position: absolute;
  z-index: 2;
  top: -51px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom2 ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom2 ul li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom2 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom2 ul li a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom3 {
  display: none;
  position: absolute;
  z-index: 2;
  top: -81px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom3 ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom3 ul li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom3 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom3 ul li a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom4 {
  display: none;
  position: absolute;
  z-index: 2;
  top: -111px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom4 ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom4 ul li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom4 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom4 ul li a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom5 {
  display: none;
  position: absolute;
  z-index: 2;
  top: -141px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom5 ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom5 ul li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom5 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom5 ul li a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom6 {
  display: none;
  position: absolute;
  z-index: 2;
  top: -171px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom6 ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom6 ul li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom6 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom6 ul li a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom7 {
  display: none;
  overflow: scroll;
  position: absolute;
  z-index: 2;
  top: -201px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
  overflow-y: auto;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom7::-webkit-scrollbar {
  width: 5px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom7::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom7 ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom7 ul li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom7 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom7 ul li a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom8 {
  display: none;
  overflow: scroll;
  position: absolute;
  z-index: 2;
  top: -231px;
  left: 197px;
  width: 179px;
  height: 297px;
  border: 1px solid #e3e3e3;
  background: #fff;
  overflow-y: auto;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom8::-webkit-scrollbar {
  width: 5px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom8::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom8 ul {
  display: block;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom8 ul li {
  padding: 0 20px;
  height: 19px;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom8 ul li a {
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #333;
}
#Sub1Component .container .middle1 .middle1-left-box .left-box-bottom ul li a h5 .left-box-bottom8 ul li a:hover {
  text-decoration: underline;
}
#Sub1Component .container .middle1 .middle1-right-box {
  width: 100%;
  max-width: 890px;
  height: 400;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-slide-container {
  width: 100%;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-slide-container .middle-slide-view {
  width: 100%;
  overflow: hidden;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-slide-container .middle-slide-view .middle-slide-wrap {
  width: 400%;
  display: flex;
  position: relative;
  margin: 0 0 0 -100%;
  height: 341px;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-slide-container .middle-slide-view .middle-slide-wrap .middle-slide {
  width: 100%;
  height: 100vh;
  background-size: cover;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-page-btn-box {
  display: flex;
  width: 100%;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-page-btn-box span {
  width: 100%;
  justify-content: space-between;
  height: 59px;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-page-btn-box span .middle-page-btn {
  width: 100%;
  height: 59px;
  color: #767676;
  background: #f8f8f8;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 400;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-page-btn-box span .middle-page-btn:hover {
  background-color: #fff;
}
#Sub1Component .container .middle1 .middle1-right-box .middle-page-btn-box span .middle-page-btn.on {
  background-color: #39594e;
  color: #fff;
  text-decoration: underline;
}
#Sub1Component .container .middle2 {
  margin: 0 0 55px 0;
  border-top: 2px solid #9d9d9d;
  border-bottom: 1px solid #9d9d9d;
  width: 100%;
  height: 53px;
  display: flex;
  justify-content: space-between;
}
#Sub1Component .container .middle2 .middle2-left {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0 10px 30px;
}
#Sub1Component .container .middle2 .middle2-left h1 {
  font-size: 17px;
  font-weight: 400;
  color: #333;
  line-height: 24.225px;
}
#Sub1Component .container .middle2 .middle2-left h1:hover {
  text-underline-position: under;
  cursor: pointer;
  color: #45675b;
  text-decoration: underline;
}
#Sub1Component .container .middle2 .middle2-left a {
  margin: 0 0 2px 10px;
}
#Sub1Component .container .middle2 .middle2-left a img {
  width: 8px;
  transform: rotate(90deg);
}
#Sub1Component .container .middle2 .middle2-right {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 15px 30px 10px 0;
}
#Sub1Component .container .middle2 .middle2-right ul {
  display: flex;
}
#Sub1Component .container .middle2 .middle2-right ul li label {
  color: #e3e3e3;
  margin: 0 3px 0 0;
}
#Sub1Component .container .middle2 .middle2-right ul li label input {
  font-size: 15px;
  font-weight: 400;
  color: #333;
  padding: 0 12px;
  text-align: left;
  width: 178px;
  height: 30px;
  border-color: 1px solid #e3e3e3;
  outline: 1px;
}
#Sub1Component .container .middle2 .middle2-right ul li label input:focus {
  outline-offset: -1px;
  border: 2px solid #ff4040;
}
#Sub1Component .container .middle2 .middle2-right ul li h2 {
  margin: 0 0 0 2px;
  padding: 4px 0 0 5px;
  width: 32px;
  height: 30px;
  border: 1px solid #333;
  background-color: #333;
}
#Sub1Component .container .middle2 .middle2-right ul li h2 a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  background: url(../../../../../public/KHB/img/sub/ic_common.png);
  background-position: -100px -500px;
}
#Sub1Component .container .middle2 .middle2-right ul li h2 a img {
  width: 100%;
  color: #fff;
  width: 25px;
  height: 25px;
}
#Sub1Component .container .middle3 {
  width: 100%;
}
#Sub1Component .container .middle3 > span {
  height: 40px;
}
#Sub1Component .container .middle3 > span > h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 39.9px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  margin: 0 0 40px 0;
}
#Sub1Component .container .middle3 .middle3-slide-container {
  position: relative;
  z-index: 1;
  width: 100%;
}
#Sub1Component .container .middle3 .middle3-slide-container .middle3-slide-view {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
#Sub1Component .container .middle3 .middle3-slide-container .middle3-slide-view .middle3-slide-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 341px;
}
#Sub1Component .container .middle3 .middle3-slide-container .middle3-slide-view .middle3-slide-wrap .middle3-slide a {
  padding: 13px;
}
#Sub1Component .container .middle3 .middle3-slide-container .middle3-slide-view .middle3-slide-wrap .middle3-slide a img {
  width: 346px;
  height: 300px;
}
#Sub1Component .container .middle3 .middle3-page-btn-box {
  cursor: pointer;
  width: 100%;
  display: flex;
  margin: 0 5px;
}
#Sub1Component .container .middle3 .middle3-page-btn-box ul {
  width: 100%;
  display: flex;
  margin: 0 20px 0 0;
  justify-content: right;
}
#Sub1Component .container .middle3 .middle3-page-btn-box ul .middle3-page-btn {
  border: 1px solid #eee;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 10px 3px 0 0;
  background: #666666;
}
#Sub1Component .container .middle3 .middle3-page-btn-box ul .middle3-page-btn.on {
  background-color: #ff4040;
  width: 12px;
  height: 12px;
}
#Sub1Component .container .coochen .title {
  margin-bottom: 20px;
}
#Sub1Component .container .coochen .title h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #242424;
}
#Sub1Component .container .coochen .img-box {
  width: 100%;
}
#Sub1Component .container .coochen .img-box ul {
  display: flex;
  flex-flow: wrap;
  position: relative;
}
#Sub1Component .container .coochen .img-box ul li {
  padding: 10px;
  float: left;
}
#Sub1Component .container .coochen .img-box ul li a {
  width: 100%;
}
#Sub1Component .container .coochen .img-box ul li:first-child {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#Sub1Component .container .coochen .img-box ul li:nth-child(5) {
  padding-right: 0;
}
#Sub1Component .container .coochen .img-box ul li:nth-child(5) img {
  width: 262px;
}
#Sub1Component .container .coochen .img-box ul li:nth-child(9), #Sub1Component .container .coochen .img-box ul li:nth-child(13) {
  padding-right: 0;
}
#Sub1Component .container .coochen .img-box ul li:nth-child(10) {
  position: relative;
}
#Sub1Component .container .coochen .img-box ul li:nth-child(14) img {
  position: absolute;
  top: 74.5%;
  right: 50.5%;
}
#Sub1Component .container .coochen .img-box ul li:nth-child(15) img {
  position: absolute;
  top: 74.5%;
  right: 25.3%;
}
#Sub1Component .container .coochen .img-box ul li:nth-child(16) img {
  position: absolute;
  top: 74.5%;
  right: 0.1%;
}
#Sub1Component .container .bottom {
  width: 100%;
}
#Sub1Component .container .bottom > span > h1 {
  margin: 50px 0 10px 0;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 0 8px 0;
  color: #333;
  font-size: 28px;
  font-weight: 600;
  line-height: 40px;
  text-align: center;
}
#Sub1Component .container .bottom .bottom-all {
  display: flex;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn {
  width: 262px;
  height: 281px;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  padding: 8px 20px;
  border-left: 7px solid transparent;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li:hover {
  background-color: #eee;
  border-left: 7px solid #ccc;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li.on {
  border-left: 7px solid #39594e !important;
  color: #39594e;
  background: #fff;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li.on img {
  display: block;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li > h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li img {
  display: none;
  width: 8px;
  height: 10px;
  position: absolute;
  top: 23px;
  right: 0;
  z-index: 2;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #666;
}
#Sub1Component .container .bottom .bottom-all .bottom-left-page-btn ul li:nth-child(1) {
  border-top: 1px solid #e5e5e5;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box {
  width: 858px;
  height: 401px;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container {
  width: 100%;
  position: relative;
  z-index: 1;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view {
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap {
  width: 900%;
  display: flex;
  position: relative;
  z-index: 1;
  margin: 0 0 0 -100%;
  height: 401px;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li {
  width: 100%;
  padding: 14px;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-img-box:hover {
  filter: brightness(0.85);
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-img-box a img {
  filter: brightness(0.97);
  width: 256px;
  height: 256px;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box {
  padding: 10px 0 0 0;
  margin: 0 8px;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .up-text-box > h1 {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #333;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .up-text-box > h1 strong {
  font-size: 23px;
  font-weight: 500;
  line-height: 25px;
  text-align: left;
  color: #333;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .up-text-box > h3 {
  cursor: pointer;
  height: 36px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 12px 0 0 0;
  padding: 0 0 10px 0;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .up-text-box > h3:hover {
  text-decoration: underline;
  text-underline-offset: unset;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .down-text-box {
  display: flex;
  border-top: 1px solid #eee;
  padding: 15px 0 0 0;
  margin: 11px 0 0 0;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .down-text-box h5 {
  margin: 1px;
  padding: 0 3px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  border: 1px solid #46675c;
  background-color: #46675c;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .down-text-box h4 {
  text-align: center;
  margin: 1px;
  padding: 0 3px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #818181;
  background-color: #818181;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .down-text-box h3 {
  text-align: center;
  margin: 1px;
  padding: 0 3px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 1px solid #c4ad8f;
  background-color: #c4ad8f;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li .bottom-slide-text-box .down-text-box h2 {
  text-align: center;
  margin: 1px;
  padding: 0 3px;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #da3e43;
  border: 1px solid #da3e43;
  background-color: #fff;
}
#Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li:nth-child(4) .up-text-box, #Sub1Component .container .bottom .bottom-all .bottom-right-box .bottom-slide-container .bottom-slide-view .bottom-slide-wrap .bottom-slide ul li:nth-child(6) .up-text-box {
  margin: 0 0 20px 0;
}