#notice {
  width: 100%;
  padding: 0 0 150px 0;
  position: relative;
}
#notice #container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
}
#notice #container .gap {
  width: 100%;
}
#notice #container .gap .title .top-title {
  text-align: left;
  height: 40px;
  margin: 0 0 15px 0;
}
#notice #container .gap .title .top-title ul {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: left;
}
#notice #container .gap .title .top-title ul li {
  width: 50px;
  margin: 0 0 0 -15px;
}
#notice #container .gap .title .top-title ul li:nth-child(1) {
  padding: 0 0 0 12px;
}
#notice #container .gap .title .top-title ul li h1 {
  padding: 5px 0 0 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(102, 102, 102);
  cursor: pointer;
}
#notice #container .gap .title .top-title ul li h1:hover {
  color: #46675c;
  font-weight: 700;
}
#notice #container .gap .title .top-title ul li:nth-child(2)::before, #notice #container .gap .title .top-title ul li:nth-child(4)::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url(../../../../../public/img/HSM/notice/ic_arrow.png) no-repeat -100px -300px;
}
#notice #container .gap .content {
  display: flex;
}
#notice .border {
  position: absolute;
  top: -5px;
  left: 0;
  border-top: 1px solid #333;
  width: 1903px;
}