#section5 {
    width: 100%;
    .container {
        width: 100%;
        max-width: 1280px;
        margin: 0 auto;
        .gap {
            width: 100%;
            .title {
                display: flex;
                justify-content: space-between;
                padding-bottom: 60px;
                h2 {
                    font-size: 50px;
                    color: #000;
                    font-weight: 700;
                }
                a {
                    display: flex;
                    align-items: end;
                    font-size: 18px;
                    text-decoration: underline;
                }
            }
            .content {
                display: flex;
                width: 100%;
                background: #f8f8f8;
                .left-box {
                    width: 50%;
                    padding: 70px 50px 0 50px;
                    border-right: 1px solid #eaeaea;
                  
                    .text-box1 {
                        p {
                            font-size: 14px;
                            font-weight: 700;
                            color: #949494;
                            line-height: 1.7;
                        }
                    }
                    .img-box {
                        display: flex;
                        justify-content: center;
                        margin-top: 60px;
                        background: url(../img/intro/section5_bg.png) 50% 50% no-repeat;
                        background-size: cover;
                        figure {
                            width: 520px;
                            overflow: hidden;
                            img {
                                transition: all 0.3s;
                                &:hover {
                                    transform: scale(1.02);
                                }
                            }
                        }
                        
                    }
                    .text-box2 {
                        margin-top: 55px;
                        .text1 {
                            font-size: 30px;
                            font-weight: 500;
                            line-height: 36px;
                            color: #000;
                        }
                        .text2 {
                            margin-top: 13px;
                            font-size: 20px;
                            font-weight: 500;
                            color: #000;

                        }
                    }
                }
                .right-box {
                    display: flex;
                    justify-content: center;
                    width: 50%;
                    padding: 70px 0;
                    .img-box {
                        overflow: hidden;
                        width: 480px;
                        img {
                            transition: all 0.3s;
                            &:hover {
                                transform: scale(1.02);
                            }
                        }
                    }
                }
                
            }
        }
    }
}