#section10{
    width: 100%;
    .container{
        width: 100%;
        .title-box{
            width: 100%;
            max-width: 1280px;
            display: flex;
            align-items: flex-end;
            padding-top: 110px;
            padding-bottom: 50px;
            margin: 50px 0 0 350px;
            h2{
                font-size: 50px;
                color: #000;
                font-weight: 700;
                font-family: "Noto Serif KR";
            }
            a{
                margin-left: auto;
                font-weight: 300;
                font-size: 18px;
                color: #000;
                text-decoration: underline;
            }
        }
        }
        .content{
            width: 100%;
            height: 806px;
            background: #f8f8f8;
            // position: relative;
            .colture{
                display: flex;
                max-width: 1280px;
                margin: 0 auto;
                margin-left: 350px;
            .left-box{
                p{
                    width: 350px;
                    height: 706px;
                    font-size: 24px;
                    font-weight: 300;
                    font-family: 'Noto Sans KR';
                    color: #8e8e8e;
                    padding: 50px 30px 50px 0;
                    display: block;
                    
                }
            }
            .center-box{
                position: relative;
                margin: 0px 30px 0px;
                width: 520px;
                height: 706px;
                background-color: #fff;
                .center-box-img{
                    overflow: hidden;
                    width: 520px;
                    height: 570px;
                    img{
                        width: 100%;
                        vertical-align: top;
                        transition: transform 0.3s;
                        
                    }
                    // &:hover{
                    //     transform: scale(1.1);
                        
                    // }
                }
                .center-box-text{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 0px 30px;
                    height: 136px;
                    .p1{
                        font-size: 24px;
                        font-weight: 500;
                        font-family: "Noto Sans KR";
                        color: #000;
                        line-height: 1;
                        padding-top: 5px;
                        text-align: center;
                        animation-delay: 0.4s;
                        -webkit-animation-delay: 0.4s;
                    }
                    .p2{
                        font-size: 20px;
                        font-weight: 300;
                        font-family: "Noto Sans KR";
                        color: #000;
                        padding-top: 15px;
                        line-height: 1.2;
                        text-align: center;
                        animation-delay: 0.6s;
                        -webkit-animation-delay: 0.6s;
                    }
                }
            }
            .right-box{
                width: 350px;
                height: 706px;
                .right-box-top{
                    margin-bottom: 30px;
                    position: relative;
                    overflow: hidden;
                    a{
                        img{
                            transition: transform 0.3s;
                            width: 350px;
                            height: 338px;
                            object-fit: cover;
                        }
                    }
                }
                .right-box-bottom{
                    position: relative;
                    overflow: hidden;
                    a{
                        img{
                            transition: transform 0.3s;
                            width: 350px;
                            height: 338px;
                            object-fit: cover;
                        }
                    }
                }
            }

            }


            }
        }
    