#Guerlain {
  width: 100%;
}
#Guerlain .container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}
#Guerlain .container .title {
  border-top: 1px solid #999;
}
#Guerlain .container .title .top-title {
  text-align: left;
  height: 40px;
  display: flex;
}
#Guerlain .container .title .top-title ul {
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
#Guerlain .container .title .top-title ul li {
  width: 50px;
  padding: 20px 0 0 0;
}
#Guerlain .container .title .top-title ul li h1 {
  font-size: 11px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(102, 102, 102);
  cursor: pointer;
}
#Guerlain .container .title .top-title ul li h1:hover {
  color: #46675c;
  font-weight: 700;
}
#Guerlain .container .title .top-title ul li .home {
  width: 3px;
  margin: 0 0 0 -50px;
}
#Guerlain .container .title .top-title ul li > img {
  width: 4px;
  height: 7px;
  margin: 0 0 0 -170px;
  color: #333;
}
#Guerlain .container .title .top-title ul li p {
  position: relative;
  margin: 0 0 0 -80px;
  font-size: 11px;
  font-weight: 400;
  line-height: 40px;
  color: #666;
  cursor: pointer;
}
#Guerlain .container .title .top-title ul li p:hover {
  color: #46675c;
  font-weight: 700;
}
#Guerlain .container .title .top-title ul li p:hover .top-title-text-box {
  display: block;
}
#Guerlain .container .title .top-title ul li p .top-title-text-box {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  left: 35px;
  width: 110px;
  height: 196px;
  border: 1px solid #333;
  background: #fff;
}
#Guerlain .container .title .top-title ul li p .top-title-text-box > ul {
  display: block;
  padding: 8px 18px;
}
#Guerlain .container .title .top-title ul li p .top-title-text-box > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#Guerlain .container .title .top-title ul li p .top-title-text-box > ul > li:hover {
  text-decoration: underline;
}
#Guerlain .container .title .top-title ul li p .top-title-text-box > ul > li h5 {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: #666;
}
#Guerlain .container .title .top-title ul li p .top-title-text-box > ul > li h5:hover {
  color: #46675c;
}
#Guerlain .container .title .top-title ul li p .top-title-text-box > ul > li img {
  display: flex;
  width: 5px;
  height: 9px;
}
#Guerlain .container .title .top-title ul li h2 {
  position: relative;
  margin: 0 0 0 -160px;
  font-size: 11px;
  font-weight: 400;
  line-height: 40px;
  color: #666;
  cursor: pointer;
}
#Guerlain .container .title .top-title ul li h2:hover {
  color: #46675c;
  font-weight: 700;
}
#Guerlain .container .title .top-title ul li h2:hover .top-title-text-box {
  display: block;
}
#Guerlain .container .title .top-title ul li a img {
  margin: 0 0 1px -110px;
  width: 6px;
}
#Guerlain .container .content {
  width: 100%;
  padding: 15px 0 0 0;
  line-height: 1.425;
}
#Guerlain .container .content .first-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#Guerlain .container .content .first-info .left {
  width: 100%;
  padding: 0 10px;
  margin-right: 20px;
}
#Guerlain .container .content .first-info .left .info-img-box {
  width: 530px;
  height: 530px;
  position: relative;
}
#Guerlain .container .content .first-info .left .info-img-box img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.6s;
}
#Guerlain .container .content .first-info .left .info-img-box img.on {
  opacity: 1;
}
#Guerlain .container .content .first-info .left .sub-img {
  width: 539px;
  margin: 10px -10px 0 -4px;
  flex-direction: column;
  align-items: center;
  height: 156px;
}
#Guerlain .container .content .first-info .left .sub-img a > img {
  margin: 4px 3px 4px 4px;
  border: 1px solid #dbdbdb;
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
#Guerlain .container .content .first-info .left .satisfy {
  max-width: 100%;
  margin-top: 12px;
  font-size: 15px;
  color: #333;
}
#Guerlain .container .content .first-info .left .satisfy span {
  font-size: 25px;
  font-weight: 400;
  color: #333;
  vertical-align: baseline;
}
#Guerlain .container .content .first-info .left .satisfy span:nth-of-type(1) {
  color: #e35c61;
}
#Guerlain .container .content .first-info .left .satisfy i {
  margin: 0 8px 4px 10px;
  width: 9px;
  height: 17px;
}
#Guerlain .container .content .first-info .left .product-code {
  width: 100%;
  padding: 10px 0;
  margin-top: 10px;
  border: 1px solid #ebebeb;
  border-width: 1px 0;
  display: flex;
  justify-content: space-between;
}
#Guerlain .container .content .first-info .left .product-code .code {
  display: flex;
}
#Guerlain .container .content .first-info .left .product-code .code p {
  color: #666;
  line-height: 30px;
}
#Guerlain .container .content .first-info .left .product-code .code p strong {
  font-weight: 600;
  vertical-align: baseline;
}
#Guerlain .container .content .first-info .left .product-code .code a {
  width: 45px;
  height: 22px;
  margin-top: 4px;
  margin-left: 10px;
  text-align: center;
  font-size: 12px;
  line-height: 22px;
  border: 1px solid #dcdcdc;
  display: inline-block;
}
#Guerlain .container .content .first-info .left .product-code .button {
  display: flex;
  width: 119.711px;
}
#Guerlain .container .content .first-info .left .product-code .button .btnL {
  width: 45%;
  display: flex;
  height: 28px;
  border: 1px solid #ccc;
  background: #fafafa;
  transition: all 0.15s ease-out;
}
#Guerlain .container .content .first-info .left .product-code .button .btnL:hover {
  background: #f6f6f6;
}
#Guerlain .container .content .first-info .left .product-code .button .btnL a {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
}
#Guerlain .container .content .first-info .left .product-code .button .btnL a img {
  width: 15px;
  height: 13px;
}
#Guerlain .container .content .first-info .left .product-code .button .btnL a p {
  line-height: 30px;
  font-size: 13px;
  margin-left: 5px;
}
#Guerlain .container .content .first-info .left .product-code .button .btnR {
  width: 50%;
  display: flex;
  height: 28px;
  border: 1px solid #ccc;
  margin-left: 3px;
  background: #fafafa;
  transition: all 0.15s ease-out;
}
#Guerlain .container .content .first-info .left .product-code .button .btnR:hover {
  background: #f6f6f6;
}
#Guerlain .container .content .first-info .left .product-code .button .btnR a {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  display: flex;
}
#Guerlain .container .content .first-info .left .product-code .button .btnR a img {
  width: 15px;
  height: 15px;
}
#Guerlain .container .content .first-info .left .product-code .button .btnR a p {
  line-height: 30px;
  font-size: 13px;
  margin-left: 5px;
}
#Guerlain .container .content .first-info .right {
  width: 100%;
  padding: 0 10px;
}
#Guerlain .container .content .first-info .right .logo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding-bottom: 15px;
}
#Guerlain .container .content .first-info .right .logo a {
  display: flex;
}
#Guerlain .container .content .first-info .right .logo a img {
  width: 139px;
}
#Guerlain .container .content .first-info .right .logo a i {
  width: 7px;
  height: 11px;
  margin: 15px 0 1px 10px;
  background: url(../../../../../../public/KHB/img/detailSub/ic_arrow.png) no-repeat -300px 0;
}
#Guerlain .container .content .first-info .right .logo p {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #666;
}
#Guerlain .container .content .first-info .right .product-name {
  padding: 20px 0;
}
#Guerlain .container .content .first-info .right .product-name h3 {
  font-size: 23px;
  line-height: 31px;
  color: #000;
  font-weight: 400;
}
#Guerlain .container .content .first-info .right .product-name h1 {
  display: flex;
  font-size: 39px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #e35c61;
  position: relative;
}
#Guerlain .container .content .first-info .right .product-name h1 p {
  position: absolute;
  left: 21.5%;
  bottom: 10%;
  font-size: 23px;
}
#Guerlain .container .content .first-info .right ul {
  z-index: 2;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
}
#Guerlain .container .content .first-info .right ul li {
  padding: 10px 0;
  display: flex;
}
#Guerlain .container .content .first-info .right ul li p {
  display: flex;
  width: 24%;
}
#Guerlain .container .content .first-info .right ul li p a {
  width: 16px;
}
#Guerlain .container .content .first-info .right ul li p a i {
  display: flex;
  width: 100%;
  height: 100%;
  background: url(../../../../../../public/KHB/img/detailSub/ic_common.png) no-repeat 0 -800px;
  margin: 5px 0 0 5px;
}
#Guerlain .container .content .first-info .right ul li .muija-icon-content {
  display: none;
  background: #fff;
  position: absolute;
  z-index: 3;
  width: 400px;
  top: 85px;
  left: -140.391px;
  border: 1px solid #222;
}
#Guerlain .container .content .first-info .right ul li .muija-icon-content.on {
  display: block;
}
#Guerlain .container .content .first-info .right ul li .muija-icon-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 49%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: #222 transparent;
}
#Guerlain .container .content .first-info .right ul li .info {
  width: 374px;
  padding: 13px 0 13px 20px;
}
#Guerlain .container .content .first-info .right ul li .info .row1 {
  margin-bottom: 10px;
}
#Guerlain .container .content .first-info .right ul li .info .row1 h5 {
  font-weight: 600;
  font-size: 15px;
  color: #555;
}
#Guerlain .container .content .first-info .right ul li .info .row1 img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 10px;
  filter: invert(100%);
  cursor: pointer;
}
#Guerlain .container .content .first-info .right ul li .info .row2 {
  margin-top: 5px;
  border-top: 1px solid #767676;
  border-bottom: 1px solid #767676;
  width: 351px;
  height: 186px;
  overflow: auto;
}
#Guerlain .container .content .first-info .right ul li .info .row2 table {
  width: 334px;
  text-align: center;
  font-size: 13px;
  border-spacing: 0;
}
#Guerlain .container .content .first-info .right ul li .info .row2 table thead {
  width: 100%;
}
#Guerlain .container .content .first-info .right ul li .info .row2 table thead tr {
  width: 100%;
  line-height: 22px;
  color: #444;
  text-align: center;
  vertical-align: middle;
  background: #f6f6f6;
  padding: 5px 5px 3px 5px;
}
#Guerlain .container .content .first-info .right ul li .info .row2 table tbody {
  width: 100%;
}
#Guerlain .container .content .first-info .right ul li .info .row2 table tbody tr {
  width: 100%;
}
#Guerlain .container .content .first-info .right ul li .info .row2 table tbody tr td {
  border-top: 1px solid #e0e0e0;
  padding: 5px 5px 3px 5px;
}
#Guerlain .container .content .first-info .right ul li .info .row3 ul {
  margin-top: 20px;
}
#Guerlain .container .content .first-info .right ul li .info .row3 ul li {
  padding: 0;
  position: relative;
  padding-left: 10px;
  margin-bottom: 4px;
  font-size: 12px;
  color: #666;
  line-height: 1.6;
}
#Guerlain .container .content .first-info .right ul li .saved-money {
  display: none;
  background: #fff;
  position: absolute;
  top: 65%;
  left: -23.5%;
  z-index: 2;
  border: 1px solid #222;
  padding: 17px 25px 10px 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.525px;
  color: #888;
}
#Guerlain .container .content .first-info .right ul li .saved-money.on {
  display: block;
}
#Guerlain .container .content .first-info .right ul li .saved-money::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 0 8px 10px 8px;
  border-color: #222 transparent;
}
#Guerlain .container .content .first-info .right ul li .saved-money a > img {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 9px;
  top: 6px;
  filter: invert(100%);
  cursor: pointer;
}
#Guerlain .container .content .first-info .right ul li .saved-money > a button {
  background: #555;
  border: 1px solid #555;
  padding: 0 10px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  color: #fff;
  margin-top: 5px;
}
#Guerlain .container .content .first-info .right ul li .saved-money > a button img {
  margin: 0 0 1px 10px;
}
#Guerlain .container .content .first-info .right ul li .saved-money em {
  display: block;
  margin-top: 15px;
}
#Guerlain .container .content .first-info .right .select-box {
  width: 530px;
  padding: 15px 20px;
  background: #f6f6f6;
}
#Guerlain .container .content .first-info .right .select-box .select-click {
  position: relative;
}
#Guerlain .container .content .first-info .right .select-box .select-click select {
  width: 100%;
  padding: 9px 20px;
  background: #fafafa;
  height: 38px;
  line-height: 20px;
  border: 1px solid #ddd;
}
#Guerlain .container .content .first-info .right .select-box .select-click select option {
  background: #f6f6f6;
}
#Guerlain .container .content .first-info .right .select-box .select-click select p {
  position: absolute;
  font-size: 13px;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  color: #666;
  background: url(../../../../../../public/KHB/img/detailSub/icon_opt_selc_arrow.png) no-repeat right center;
}
#Guerlain .container .content .first-info .right .select-option {
  margin-top: 30px;
}
#Guerlain .container .content .first-info .right .select-option ul {
  color: #666;
}
#Guerlain .container .content .first-info .right .select-option ul li {
  border: 1px solid #dcdcdc;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt {
  position: relative;
  padding: 8px 19px;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt .name {
  float: left;
  width: 270px;
  padding: 2px 10px 0 0;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt .cnt-box {
  display: flex;
  float: left;
  line-height: 0;
  width: 78px;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt .cnt-box a {
  width: 23px;
  height: 24px;
  text-align: center;
  font-size: 0;
  line-height: 0;
  border: 1px solid #e6e6e6;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt .cnt-box a.cnt-down {
  background: #fff url(../../../../../../public/KHB/img/detailSub/ic_opt_ctrl.png) no-repeat;
  border-right: 0;
  background-position: -13px center;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt .cnt-box a.cnt-up {
  background: #fff url(../../../../../../public/KHB/img/detailSub/ic_opt_ctrl.png) no-repeat;
  border-left: 0;
  background-position: -33px center;
  float: left;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt .cnt-box input {
  float: left;
  width: 32px;
  height: 24px;
  line-height: 21px;
  text-align: center;
  border: 1px solid #e6e6e6;
  padding: 0 3px;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt .price {
  float: left;
  width: 125px;
  padding: 2px 20px 0 10px;
  text-align: right;
  font-size: 15px;
  color: #333;
  font-weight: 700;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt a {
  float: right;
  width: 15px;
  color: #666;
  text-underline-position: under;
}
#Guerlain .container .content .first-info .right .select-option ul li .sel-opt a .exitimg {
  display: inline-block;
  width: 15px;
  height: 15px;
  background: url(../../../../../../public/KHB/img/detailSub/ic_common.png) no-repeat;
  background-position: 0 -400px;
}
#Guerlain .container .content .first-info .right .btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
#Guerlain .container .content .first-info .right .btn-box button {
  border: 0;
  font-size: 17px;
  height: 56px;
  font-weight: 600;
  color: #fff;
}
#Guerlain .container .content .first-info .right .btn-box button:first-child {
  width: 25%;
  background: #999;
}
#Guerlain .container .content .first-info .right .btn-box button:nth-child(2) {
  width: 25%;
  margin-left: 6px;
  background-color: #45675b;
}
#Guerlain .container .content .first-info .right .btn-box button:nth-child(2) img {
  margin: -6px 8px 0 0;
}
#Guerlain .container .content .first-info .right .btn-box button:nth-child(3) {
  width: 50%;
  margin-left: 6px;
  background: #e35c61;
}
#Guerlain .container .content .banner {
  margin-top: 10px;
}
#Guerlain .container .content .other-customer {
  display: flex;
  padding: 30px 10px;
  margin-top: 12px;
}
#Guerlain .container .content .other-customer .left {
  width: 522px;
  overflow: hidden;
  float: left;
}
#Guerlain .container .content .other-customer .left hr {
  width: 45px;
  height: 0;
  display: block;
  border-top: 2px solid #333;
  padding-top: 20px;
}
#Guerlain .container .content .other-customer .left .title h4 {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 400;
  color: #494949;
  letter-spacing: -0.5px;
}
#Guerlain .container .content .other-customer .left .left-slide {
  display: flex;
}
#Guerlain .container .content .other-customer .left .left-slide a {
  padding: 0 3px;
}
#Guerlain .container .content .other-customer .left .left-slide a img {
  width: 170px;
}
#Guerlain .container .content .other-customer .left .left-slide a p {
  margin-top: 10px;
  color: #333;
  font-size: 13px;
}
#Guerlain .container .content .other-customer .left .left-slide a p:last-child {
  color: #666;
  margin-top: 6px;
}
#Guerlain .container .content .other-customer .right {
  overflow: hidden;
  float: right;
  width: 522px;
  margin-left: 60px;
}
#Guerlain .container .content .other-customer .right hr {
  width: 45px;
  height: 0;
  display: block;
  border-top: 2px solid #333;
  padding-top: 20px;
}
#Guerlain .container .content .other-customer .right .title h4 {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 400;
  color: #494949;
  letter-spacing: -0.5px;
}
#Guerlain .container .content .other-customer .right .right-slide {
  display: flex;
}
#Guerlain .container .content .other-customer .right .right-slide a {
  padding: 0 3px;
}
#Guerlain .container .content .other-customer .right .right-slide a img {
  width: 170px;
}
#Guerlain .container .content .other-customer .right .right-slide a p {
  margin-top: 10px;
  color: #333;
  font-size: 13px;
}
#Guerlain .container .content .other-customer .right .right-slide a p:last-child {
  color: #666;
  margin-top: 6px;
}
#Guerlain .container .content .tab {
  width: 100%;
  position: sticky;
  top: 0;
  height: auto;
  margin-top: 45px;
  padding-top: 5px;
  background-color: #fff;
  border-bottom: 2px solid #000;
  z-index: 3;
}
#Guerlain .container .content .tab ul {
  background-color: #fff;
  width: 72%;
  display: flex;
}
#Guerlain .container .content .tab ul li {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  overflow: hidden;
  z-index: 3;
  border-bottom: 2px solid transparent;
  margin-bottom: -2px;
}
#Guerlain .container .content .tab ul li.on {
  border-bottom-color: #fff;
  border-top: 2px solid #333;
  border-left: 2px solid #333;
  border-right: 2px solid #333;
}
#Guerlain .container .content .tab ul li.on a {
  font-weight: 600;
  color: #333;
}
#Guerlain .container .content .tab ul li:last-child {
  border-right: 1px solid #ccc;
}
#Guerlain .container .content .tab ul li a {
  display: block;
  padding: 15px 20px 12px 20px;
  font-size: 15px;
  color: #767676;
  text-align: center;
}
#Guerlain .container .content .tab ul li a:hover {
  color: #666;
}
#Guerlain .container .content .tab ul li a var {
  margin-left: 5px;
  vertical-align: baseline;
}
#Guerlain .container .content .tab-content {
  width: 100%;
  padding: 0 12px;
}
#Guerlain .container .content .tab-content .product-detail {
  width: 100%;
  padding: 50px 0 20px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid #ebebeb;
}
#Guerlain .container .content .tab-content .product-detail .conduite {
  width: 100%;
  height: 140px;
  display: flex;
  padding: 0 0 10px 0;
  justify-content: space-between;
}
#Guerlain .container .content .tab-content .product-detail .conduite .left {
  display: flex;
  padding-right: 15px;
}
#Guerlain .container .content .tab-content .product-detail .conduite .left .txt {
  width: 100%;
  padding: 0 0 0 19px;
}
#Guerlain .container .content .tab-content .product-detail .conduite .left .txt h2 {
  font-size: 28px;
  color: #222;
}
#Guerlain .container .content .tab-content .product-detail .conduite .left .txt ul {
  padding: 7px 0 0 0;
}
#Guerlain .container .content .tab-content .product-detail .conduite .left .txt ul li {
  font-size: 15px;
  color: #303030;
  line-height: 1.4em;
}
#Guerlain .container .content .tab-content .product-detail .conduite .right {
  display: flex;
  padding-left: 15px;
  border-left: 1px solid #f2f2f2;
}
#Guerlain .container .content .tab-content .product-detail .conduite .right .txt {
  padding: 0 0 0 19px;
}
#Guerlain .container .content .tab-content .product-detail .conduite .right .txt h2 {
  font-size: 28px;
  color: #222;
}
#Guerlain .container .content .tab-content .product-detail .conduite .right .txt ul {
  padding: 7px 0 0 0;
}
#Guerlain .container .content .tab-content .product-detail .conduite .right .txt ul li {
  font-size: 15px;
  color: #303030;
  line-height: 1.4em;
}
#Guerlain .container .content .tab-content .product-detail .bottom-box {
  margin-top: 20px;
  border-top: 1px solid #ebebeb;
  padding: 20px 0 0 20px;
}
#Guerlain .container .content .tab-content .product-detail .bottom-box .phone-number {
  display: flex;
}
#Guerlain .container .content .tab-content .product-detail .bottom-box .phone-number p {
  font-size: 13px;
  font-weight: 700;
  padding-right: 60px;
}
#Guerlain .container .content .tab-content .product-detail .bottom-box .phone-number em {
  font-size: 13px;
  font-weight: 400;
  color: #9a9a9a;
}
#Guerlain .container .content .scroll-wrap {
  width: 100%;
  height: auto;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box {
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 0 12px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box {
  width: 780px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box p {
  margin: 25px 0 50px 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box img {
  width: 100%;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box span {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.8px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box .img-box {
  margin: 0;
  flex-direction: column;
  padding: 50px 0;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box .img-box img {
  margin: 0;
  padding: 20px 0 0 20px;
  width: 380px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box .table-box {
  margin-top: 40px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box .table-box table {
  border-spacing: 0;
  border-top: 1px solid #767676;
  border-bottom: 1px solid #767676;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box .table-box table tbody tr th {
  padding: 18px 15px 16px 15px;
  width: 120px;
  text-align: left;
  color: #444;
  font-size: 13px;
  font-weight: 600;
  border-top: 1px solid #eee;
  background: #f6f6f6;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .left-box .table-box table tbody tr td {
  padding: 12px;
  text-align: left;
  color: #666;
  border-top: 1px solid #e0e0e0;
  font-size: 13px;
  font-weight: 400;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box {
  width: 100%;
  max-width: 290px;
  height: auto;
  padding-left: 20px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content {
  position: sticky;
  top: 60px;
  max-height: 758px;
  background: #fafafa;
  width: 100%;
  height: auto;
  padding: 20px 0 0 20px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background {
  position: relative;
  margin: 0 20px 0 0;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .select-box {
  padding: 9px 15px;
  border: 1px solid #dcdcdc;
  cursor: pointer;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .select-sub {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 254px;
  left: 0;
  top: 37px;
  border: 1px solid #aaa;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .select-sub li {
  border-top: 1px solid #efefef;
  font-size: 13px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .select-sub li a {
  display: block;
  padding: 0 10px;
  line-height: 30px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .select-sub li a:hover {
  background: #fbe6ef;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .cart-box {
  padding: 8px 15px;
  margin: 30px 0 0 0;
  border: 1px solid #dcdcdc;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .cart-box .cnt {
  text-align: left;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .cart-box .price {
  text-align: right;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .sumprice {
  padding: 10px 20px;
  font-size: 19px;
  font-weight: 600;
  color: #ec555d;
  text-align: right;
  letter-spacing: -1px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .sumprice strong {
  margin: 0 2px 0 7px;
  vertical-align: baseline;
  font-size: 28px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .btn-box {
  background: #fafafa;
  color: #999;
  padding-top: 400px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .btn-box ul a {
  width: 100%;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .btn-box ul a li {
  width: 211px;
  height: 56px;
  line-height: 58px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin-top: 6px;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .btn-box ul a li.cart-btn {
  background: #999;
  border: 1px solid #ccc;
  margin: 0;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .btn-box ul a li.present-btn {
  background: #45675b;
  border: 1px solid #45675b;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .btn-box ul a li.present-btn img {
  margin: -6px 6px 0 0;
}
#Guerlain .container .content .scroll-wrap .product-detail-img-box .right-box .scroll-content .background .btn-box ul a li.buy-btn {
  background: #e35c61;
  border: 1px solid #e35c61;
}
#Guerlain .container .content .scroll-wrap .product-review {
  width: 100%;
  margin-top: 60px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container {
  padding: 30px 10px 0 10px;
  border-top: 1px solid #000;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-left .star {
  display: flex;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-left .star img {
  width: 190px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-left .star i {
  margin-left: 20px;
  font-size: 33px;
  color: #231f20;
  font-weight: 700;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-left p {
  padding-top: 10px;
  font-size: 14px;
  color: #666;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-right {
  margin-right: 20px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-right a {
  border: 1px solid #000;
  height: 34px;
  padding: 15px 30px 15px 30px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-right a span {
  padding: 5px 0 15px 40px;
  width: 34px;
  background: url(../../../../../../public/KHB/img/detailSub/icon_r.png) no-repeat 0 0px;
  background-size: 34px;
  font-size: 14px;
  font-weight: 400;
  color: #231f20;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-title .title-right a img {
  width: 8px;
  height: 11px;
  margin: 4px 0 0 5px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .img-box {
  padding: 40px 0 25px 0;
  width: 1100px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .img-box ul {
  display: flex;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .img-box ul li img {
  height: 130px;
  width: 130px;
  margin-right: 10px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .img-box ul li div {
  background-color: rgba(0, 0, 0, 0.03);
  height: 130px;
  width: 130px;
  margin-right: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .total-title {
  display: flex;
  justify-content: space-between;
  padding: 25px 0 20px 0;
  border-bottom: 1px solid #000;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .total-title .left-title {
  display: flex;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .total-title .left-title p {
  font-size: 16px;
  color: #231f20;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .total-title .left-title p:last-child {
  font-weight: 700;
  margin-left: 25px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .total-title .right-title img {
  margin-right: 5px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li {
  padding: 40px 0;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .top {
  display: flex;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .top p {
  color: #e2767a;
  font-weight: 700;
  font-size: 14px;
  margin: 4px 0 0 10px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col1 {
  width: 803px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col1 i {
  font-size: 14px;
  color: #999;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col1 h4 {
  padding-top: 12px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col1 h4 em {
  border: 1px solid #46675c;
  padding: 0 3px;
  margin-right: 4px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col2 span {
  margin: 2px 8px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col2 h5 {
  text-align: center;
  border-bottom: 1px solid #999;
  margin: 10px 50px 0;
  padding: 2px;
  font-size: 14px;
  color: #999;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col3 > button {
  background: 0;
  padding: 6px 15px;
  border-radius: 17px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col3 > button::before {
  content: "";
  background: url(../../../../../../public/KHB/img/detailSub/ic_common.png) no-repeat -300px -600px;
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 20px;
  margin: 0 5px 0 0;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .review-list-box ul li .middle .col3 > button > span {
  font-size: 13px;
  color: #888;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation {
  padding: 20px 0 0;
  text-align: center;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation ul {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation ul li {
  width: 25px;
  height: 23px;
  margin: 0 4px;
  font-weight: 600;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation ul li:hover {
  border: 1px solid #45675b;
  color: #fff;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation ul li a {
  width: 100%;
  color: #777;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation ul li a i {
  width: 25px;
  height: 23px;
  margin: 0 4px;
  font-weight: 600;
  background: url(../../../../../../public/KHB/img/detailSub/ic_arrow.png) no-repeat 0 -300px;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation ul li:nth-child(1) {
  background: #45675b;
}
#Guerlain .container .content .scroll-wrap .product-review .review-container .pagenation ul li:nth-child(1) a {
  color: #fff;
}
#Guerlain .container .content .scroll-wrap .QnA {
  padding: 0 12px;
  margin-top: 36px;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-container {
  padding-top: 22px;
  display: flex;
  position: relative;
  border-bottom: 1px solid #ececec;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-container ul {
  display: flex;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-container ul li {
  border-top: 1px solid #ececec;
  border-right: 1px solid #ececec;
  padding: 14px 0;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-container ul li a {
  padding: 0 55px;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-container ul li:first-child {
  border-right: 0;
  background: #ececec;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-container button {
  position: absolute;
  right: 0;
  border: 1px solid #45675b;
  background: #45675b;
  color: #fff;
  bottom: 2px;
  padding: 0 42px;
  height: 48px;
  line-height: 48px;
  font-size: 17px;
  font-weight: 400;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-content {
  border-bottom: 1px solid #ececec;
  display: flex;
  position: relative;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-content img {
  position: absolute;
  left: 30px;
  top: 20px;
  width: 36px;
  height: 36px;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-content .txt {
  width: 100%;
  padding: 20px 30px 20px 90px;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-content .txt p span {
  float: right;
  font-size: 13px;
  color: #d95756;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-content .txt h4 {
  margin-top: 10px;
}
#Guerlain .container .content .scroll-wrap .QnA .qna-content .txt h4 em {
  margin: 0 0 0 15px;
}